<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.customer.mapper.CustomerMapper"> 
	<select id="getCustomer" resultType="Customer"> 
		SELECT 
			* 
		FROM 
			customers
		WHERE
			is_actived=true; 
	</select> 
	
	<select id="detailCustomer" parameterType="int" resultType="Customer"> 
		SELECT * FROM customers WHERE id = #{id}; 
	</select> 
	
	<delete id="deleteCustomer" parameterType="int">
		UPDATE 
			customers
		SET
			is_actived=false
		WHERE
			id=#{id};
	</delete>
	
	<insert id="addCustomer">
		INSERT INTO
			customers
			(
			first_name,
			last_name,
			phone,
			address,
			email,
			city,
			state
			)
		VALUES
			(
			#{first_name},
			#{last_name},
			#{phone},
			#{address},
			#{email},
			#{city},
			#{state}
			);
	</insert>
	
	<update id="updateCustomer">
		UPDATE 
			customers 
		SET
			first_name=#{first_name},
			last_name=#{last_name},
			phone=#{phone},
			address=#{address},
			email=#{email},
			city=#{city},
			state=#{state}
		WHERE
			id=#{id};
	</update>
</mapper>